server {
  listen 80;
  #listen 443 ssl;
  server_name {{ pihole_admin_servername }};

  #ssl on;
  #ssl_certificate /etc/nginx/ssl/CERTNAME.pem;
  #ssl_certificate_key /etc/nginx/ssl/CERTKEYNAME.pem;
   
  location / {
    proxy_pass http://pihole:80/admin/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_read_timeout 90;
  }
}   